body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    color: royalblue;
}

body>header {
    background-color: black;
    color: white;
    padding: 5px 30px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: header;
    align-items: center;
}

body>header>nav>ul {
    display: flex;
    justify-content: flex end;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}

main>header {
    background-color: royalblue;
    color: white;
    padding: 10px 30px;
}

section {
    padding: 0px 30px;
}


section>ul {
    list-style-type: none;
}

#logo {
    height: 40px;
    justify-content: flex-start;
}

#searchlogo {
    height: 20px;
}

#slogan {
    font-weight: bold;
}


footer {
    grid-area: footer;
}

footer>h2 {
    padding: 0px 30px;
}

footer>p {
    padding: 0px 30px;
}

#grid-container-services {
    display: grid;
    grid-template-areas: 
        'benefits births business'
        'chidlcare citizens crime';
    list-style-type: none;
}

/* #benefits {
    grid-area: benefits;
}

#births {
    grid-area: births;
}

#business {
    grid-area: business;
}

#childcare {
    grid-area: childcare;
}

#citizens {
    grid-area: citizens;
}

#crime {
    grid-area: crime;
} */


#gif {
    width:100%;
}
